.process-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 70px;
  }

  .process-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
  }

  .title-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%) ;
    display: inline-block;
  }

  .process-line {
    position: relative;
    width: 30%;
    height: 2.5PX;
    margin: 30px auto;
    background-color: #495057;
  }

  .process-p {
    text-align: center;
    font-size: 1.4rem;
    width: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #7c7c7c;
    font-weight: 600;
  }


  .process-btn {
  display: flex;  
  justify-content: center;
  padding: 15px 20px;
  border: none;
  color: #fff;
  background-color: #73d2de;
  border-radius: 3px;
  font-size: 17px;
  margin: 40px auto;

}

  /* content */

  .skill-bar {
  width: 25%;
  height: 2px;
  border-radius: 4px;
  background-color: #ece6fa;
  position: relative;
  overflow: hidden;
  top: 3rem;
  margin: 0 20px;
}

.skill-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: 1s;
}

 .process-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.process-content-1 {
  text-align: center;
} 

/* .process-icon-1 {
  position: absolute;
  font-size: 1rem;
  color:#7c7c7c;
} */

@media only screen and (max-width: 997px) {

  .process-p {
    text-align: center;
    font-size: 1.4rem;
    width: 80%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #7c7c7c;
    font-weight: 600;
  }
}

@media only screen and (max-width: 778px) {

  .process-p {
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #7c7c7c;
    font-weight: 600;
  }

  .skill-bar {
  width: 40%;
  height: 2px;
  border-radius: 4px;
  background-color: #ece6fa;
  position: relative;
  overflow: hidden;
  top: 3rem;
  margin: 0 20px;
}

.skill-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: 1s;
}

 .process-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.process-content-1 {
  text-align: center;
} 
i {
  font-size: 4rem;
}

.process-content-h2 {
  font-size: 1.5rem;
}
}

@media only screen and (max-width: 548px) {

  .process-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 50px;
  }

  .process-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
  }

  .process-p {
    text-align: center;
    font-size: 1rem;
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #7c7c7c;
    font-weight: 600;
  }

  .skill-bar {
  width: 40%;
  height: 2px;
  border-radius: 4px;
  background-color: #ece6fa;
  position: relative;
  overflow: hidden;
  top: 3rem;
  margin: 0 20px;
}

.skill-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: 1s;
}

 .process-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  margin: 0 20px;
}

.process-content-1 {
  text-align: center;
} 
i {
  font-size: 3rem;
}

.process-content-h2 {
  font-size: 1.1rem;
}

.process-content-p {
  font-size: .7rem;
}
}

@media only screen and (max-width: 505px) {

  .process-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .process-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
  }

  .process-p {
    text-align: center;
    font-size: .8rem;
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #7c7c7c;
    font-weight: 600;
  }

  .skill-bar {
  width: 25%;
  height: 2px;
  border-radius: 4px;
  background-color: #ece6fa;
  position: relative;
  overflow: hidden;
  top: 1.7rem;
  margin: 0 20px;
}

.skill-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: 1s;
}

 .process-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  margin: 0 20px;
}

.process-content-1 {
  text-align: center;
} 
i {
  font-size: 3rem;
}

.process-content-h2 {
  font-size: 1.1rem;
}

.process-content-p {
  font-size: .7rem;
}
}


@media only screen and (max-width: 379px) {

  .process-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 50px;
  }

  .process-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
  }

  .process-p {
    text-align: center;
    font-size: 1rem;
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    color: #7c7c7c;
    font-weight: 600;
  }

  .skill-bar {
  width: 20%;
  height: 2px;
  border-radius: 4px;
  background-color: #ece6fa;
  position: relative;
  overflow: hidden;
  top: .5rem;
  margin: 0 20px;
}

.skill-progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: 1s;
}

 .process-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  margin: 0 20px;
}

.process-content-1 {
  text-align: center;
} 
i {
  font-size: 2rem;
}

.process-content-h2 {
  font-size: 1rem;
}

.process-content-p {
  font-size: .6rem;
}
}

