 .pricing-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 130px;
  }

  .pricing-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
  }

  .title-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%) ;
    display: inline-block;
  }

  .pricing-line {
    position: relative;
    width: 30%;
    height: 2.5PX;
    margin: 30px auto;
    background-color: #495057;
  }
  .pricing-p {
    text-align: center;
    font-size: 1.4rem;
    width: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 80px;
    color: #7c7c7c;
    font-weight: 600;
  }

  /* card design */

  .card-1 {
    align-items: center;
    height: auto;
    width: 90% !important;
    border: none !important;
  }

  .pricing-plan-heading {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 20px;
  }

  .pricing-amount {
    font-size: 6.5rem;
    font-weight: 200;
    margin-top: 20px;
  }

  .card-unique {
    align-items: center;
    height: auto;
    width: 90% !important;
  }

  .pricing-amount-subtext{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5;
    text-transform: uppercase;
  }